{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "plugins": ["react", "react-hooks"],
  "extends": ["airbnb", "airbnb/hooks", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-wrap-multilines": [
      "off",
      {
        "logical": "ignore"
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-curly-newline": [
      0,
      {
        "multiline": "consistent",
        "singleline": "consistent"
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "no-unused-vars": "off",
    "prefer-destructuring": [
      "error",
      {
        "array": true,
        "object": false
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "no-undef": "off"
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@src", "./src/"],
          ["@appState", "./src/appState"],
          ["@components", "./src/components"]
        ],
        "extensions": [".js", ".jsx", ".json", ".ts", ".tsx"]
      }
    }
  }
}
